<div style="margin: 36px">
  <app-header></app-header>
  <mat-tab-group>
    <mat-tab label="Training Types">
      <app-types></app-types>
    </mat-tab>
    <mat-tab label="Technique & Tips">
      <app-technique></app-technique>
    </mat-tab>
    <mat-tab label="Routines">
      <app-routines></app-routines>
    </mat-tab>
    <mat-tab label="Zones">
      <app-zones></app-zones>
    </mat-tab>
    <mat-tab label="Typical Week">
      <app-week></app-week>
    </mat-tab>
    <mat-tab label="Calender">
      <app-calendar></app-calendar>
    </mat-tab>
    <mat-tab label="Links">
      <app-links></app-links>
    </mat-tab>
  </mat-tab-group>
</div>
